name: webgpu_rend
description: Direct WebGPU bindings for Flutter.
version: 0.1.0
homepage:
repository: https://github.com/google/flutter-sw-rend

environment:
  sdk: ">=3.7.0"
  flutter: ">=3.19.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2
  ffi: ^2.1.0
  path: ^1.9.0
  vector_math: ^2.1.4

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0
  ffigen: #currently requires master branch

flutter:
  plugin:
    platforms:
      android:
        package: com.funguscow.webgpu_rend
        pluginClass: WebgpuRendPlugin
        ffiPlugin: true
      windows:
        pluginClass: WebgpuRendPluginCApi

ffigen:
  name: WebGpuBindings
  description: Raw bindings to Dawn
  output: 'lib/src/webgpu_bindings_generated.dart'
  #preamble: // dart format width=120
  headers:
    entry-points:
      - 'third_party/dawn/include/dawn/webgpu.h'
    include-directives:
      - 'third_party/dawn/include/**/*.h'
  compiler-opts:
    - '-Ithird_party/dawn/include'
  functions:
    leaf:
      include:
        # Render Commands
        - 'wgpuCommandEncoder.*'
        - 'wgpuRenderPassEncoder.*'
        - 'wgpuComputePassEncoder.*'
        - 'wgpuQueueWrite.*'
        - 'wgpuQueueSubmit'
        
        # Resource Creation
        - 'wgpuDeviceCreate.*'
        - 'wgpuTextureCreateView'
